.header__lang-link {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  transition: 0.3s ease-in;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
