.footer__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  gap: 18px;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 48px;
  }
}
