.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0 auto 27px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    /* margin: 0 auto 25px; */
    margin: 0 auto 34px;
    line-height: 25px;
    font-size: 16px;
    padding-top: 3px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 288px;
    margin-bottom: 20px;
    /* padding-top: 0;
    line-height: 27px; */
  }
  .place__paragraph:last-child {
    margin-bottom: 31px;
}
}
