.footer__copyright {
  margin: 0;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    line-height: 1;
  }
}
