.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    max-width: 720px;
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
  }
}

 @media screen and (max-width: 767px) {
  .place {
    display: block;
    max-width: 320px;
    box-sizing: border-box;
  }
}
