.footer {
  padding: 92px 48px 24px;
	max-width: 1184px;
	margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 64px 16px 24px;
    align-content: flex-start;
  }
}
